<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from weatherStack.com and mpbox.com</p>
        <img class="portrait" src="/img/pic2use.jpeg">


    </div>
    
    {{>footer}}

</body>




</html>